<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <header>
    <img src="/img/logo-mercado-liebre.svg" height="200" alt="logo-mercado-liebre">
    <h2>lugar para la barra de busqueda</h2>
    <h2>compra en cuotas y sin tarjeta de credito</h2>
    <section id = 'barra de navegacion'>
        <ul> <li><a href="Ofertas"> Ofertas</a></li> 
            <li><a href="Tiendas Oficiales">Tiendas Oficiales</a></li>
            <li><a href="Vender">Vender</a></li>
            <li><a href="Ayuda">Ayuda</a></li> 
        </ul>
        <ul> <li><a href="Crea tu cuenta">Crea tu cuenta</a></li> 
             <li><a href="Ingresa">Ingresa</a></li> 
             <li><a href="Mis compras">Mis compras</a></li>
        </ul>
    </section>
    </header>
    <main>
        <h2>Basado en tus últimas visitas</h2>
        <section id="últimas visitas">
            <img src="/img/img-cafetera-moulinex.jpg" height="600"alt="img-cafetera-moulinex">
            <p>$6.770</p>
            <p>40% OFF</p>
            <h3>Cafetera Moulinex</h3>
            <img src="/img/img-macbook-pro-2019.jpg" height="600"alt="img-macbook-pro-2019">
            <p>$230.000</p>
            <p>20% off</p>
            <h3>MacBook Pro 2019</h3>
            <img src="/img/img-samsung-galaxy-s10.jpg" height="600" alt="img-samsung-galaxy-s10">
            <p>$70.500</p>
            <p>10% off</p>
            <h3>Samsung Galaxy S10</h3>
            <img src="/img/img-tv-samsung-smart.jpg" height="600" alt="img-tv-samsung-smart">
            <p>$23.200</p>
            <p>5% off</p>
            <h3>SmartTv Samsung 43"</h3>
        </section>
        <section id="Ofertas">
            <h2>Ofertas</h2>
            <img src="/img/img-cafetera-moulinex.jpg" height="600"alt="img-cafetera-moulinex">
            <p>$6.770</p>
            <p>40% OFF</p>
            <h3>Cafetera Moulinex</h3>
            <img src="/img/img-macbook-pro-2019.jpg" height="600"alt="img-macbook-pro-2019">
            <p>$230.000</p>
            <p>20% off</p>
            <h3>MacBook Pro 2019</h3>
            <img src="/img/img-samsung-galaxy-s10.jpg" height="600"alt="img-samsung-galaxy-s10">
            <p>$70.500</p>
            <p>10% off</p>
            <h3>Samsung Galaxy S10</h3>
            <img src="/img/img-tv-samsung-smart.jpg" height="600"alt="img-tv-samsung-smart">
            <p>$23.200</p>
            <p>5% off</p>
            <h3>SmartTv Samsung 43"</h3>
        </section>
    </main>
    <footer>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        <h4>Envío gratis desde $2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envios gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        <h4>Copyright © 1999-2020 MercadoLiebre S.R.L</h4>
    </footer>
</body>
</html>