<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <header>
    <img src="/img/logo-mercado-liebre.svg"  alt="">
    <h3>lugar para la barra de busqueda</h3>
    <h2>compra en cuotas y sin tarjeta de credito</h2>
    <section id = 'barra de navegacion'>
        <ul> <li><a href="Ofertas"> Ofertas</a></li> 
            <li><a href="Tiendas Oficiales">Tiendas Oficiales</a></li>
            <li><a href="Vender">Vender</a></li>
            <li><a href="Ayuda">Ayuda</a></li> 
        </ul>
        <ol> <li><a href="Crea tu cuenta">Crea tu cuenta</a></li> 
             <li><a href="Ingresa">Ingresa</a></li> 
             <li><a href="Mis compras">Mis compras</a></li>
        </ol>
    </section>

    </header>
    
</body>
</html>